<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolweather.ai_lamp">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lamp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".userinfo.QRCodeActivity"></activity>
        <activity android:name=".lamp.LampActivity" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->

        <activity android:name=".userinfo.ModifyUserDataActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".userinfo.UserDataActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".login.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".music.MusicActivity"
            android:launchMode="singleInstance"/>

        <activity android:name=".music.MusicListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleInstance"/>

        <activity android:name=".dynamic.DynamicActivity"/>
        <activity android:name=".dynamic.CommentsActivity"/>
        <activity android:name=".dynamic.WriteCommentActivity"/>
        <activity android:name=".dynamic.WriteDynamicActivity"/>
        <activity android:name=".loding.Loging" />
        <activity android:name=".loding.ZhuCe" />
        <activity android:name=".plans.PlanListActivity" />
        <activity android:name=".plans.PlanInfoActivity" />
        <activity android:name=".report.LearningReportActivity" />
        <activity android:name=".tomato.TomatoClockActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>